---

---

<div class="container">
    <div>
        <img
        src="public/drone.png"
        alt="firefly drone"/>
        <h1>FireFly Drone</h1>
        <p>A 75mm 1s tinywhoop custom frame</p>
    </div>

    <a href="https://github.com/maker-lukas/firefly-drone">GitHub</a>
</div>

<style>
    img {
        width: 100%;
        display: block;
        margin-inline: auto;
        border-radius: 10px;
    }

    h1 {
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    a {
        color: white;
        font-weight: bold;
    }
</style>