---

---

<div class="container">
    <div>
        <img
        src="public/xbox.png"
        alt="Xbox 360 Controller USB-C MOD"/>
        <h1>Xbox 360 USB-C MOD</h1>
        <p>A small breakout board that lets the Xbox 360 wired controller be USB C</p>
    </div>

    <a href="https://github.com/maker-lukas/Xbox-360-Usb-c-mod">GitHub</a>
</div>

<style>
    img {
        width: 100%;
        display: block;
        margin-inline: auto;
        border-radius: 10px;
    }

    h1 {
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    a {
        color: white;
        font-weight: bold;
    }
</style>