@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMono[wght].ttf);
}

main {
    min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #140D1B;
    color: white;
    font-family: "JetBrains Mono";

	padding-inline: max(calc((100% - 750px) / 2), 20px);
}

a {
    color: white;
}

a:link {
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

/* h1 { margin: 0.67em 0; }
h2 { margin: 0.83em 0; }
h3 { margin: 1em 0; }
h4 { margin: 1.33em 0; }
h5 { margin: 1.67em 0; }
h6 { margin: 2.33em 0; }
p { margin: 1em 0; }
ul, ol { margin: 1em 0; padding-left: 40px; }
blockquote { margin: 1em 40px; }
pre { margin: 1em 0; } */