@font-face {
  font-family: JetBrainsMono;
  src: url(/public/fonts/jetmono.ttf);
}

main {
  min-height: 150vh;
  display: flex;

}


a:link {
    text-decoration: none;
}

a:hover,a:active {
    text-decoration: underline;
}


body {
    background-color:#171717;
    font-family: JetBrainsMono; 
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-inline: auto;

    padding-inline: max(calc((100% - 810px) / 2), 1rem);
}

.test {
    width: 100%;
    height: 450px;
    background-color: #8B5FBF;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    
}

.test2 {
    width: 100%;
    height: 450px;
    background-color: #8B5FBF;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
}