---
import Layout from "../layouts/Layout.astro";
---

<Layout title="lukas/blog">
    <p>Coming Soon!</p>
</Layout>

<style>
    p{
		font-weight: bold;
		font-size: 30px;

		color: white;	
		padding: 200px;
		text-align: center;
    }
</style>