---
import Layout from "../layouts/Layout.astro";
import BlogGrid from "../components/BlogGrid.astro"
---

<Layout title="lukas/blog">
	<div class="page-grid">
		<div class="card blogs-grid">
			<BlogGrid />
		</div>
	</div>
</Layout>

<style>
	.page-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100vh;
		width: 100%;
	}

	.blogs-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 60px repeat(4, 1fr);
		grid-gap: 15px;
	}

    .card {
        background-color: #8B5FBF;
        border-radius: 20px;
        padding: 15px;
        height: 670px;
		align-self: center;
	}
</style>