---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro"
---

<Layout title="lukas/home">
    <div class="outer-grid">
        <div class="item item-1 inner-grid">
            <div class="inner inner-1">1</div>
            <div class="inner inner-2">2</div>
            <div class="inner inner-3">3</div>
        </div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
    </div>
</Layout>

<style>
    .outer-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 100vh);
        width: 100%;
    }

    .item {
        width: 100%;
        background-color: #8B5FBF;
        border-radius: 20px;
        padding: 15px;
        height: 450px;
    }

    .item-1 {
        place-self: center;
    }

    .item-2 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .item-3 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .inner-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "one two"
        "one three";
    gap: 15px;
    align-content: start;
}

.inner {
    background-color: #7550A1;
    border-radius: 10px;
}

.inner-1 {
    grid-area: one;
    height: 100%;
    background-color:#8B5FBF;
}

.inner-2 {
    grid-area: two;
    height: 285px;
}

.inner-3 {
    grid-area: three;
    height: 120px;
}

    p {
        font-size: 24px;
    }
</style>