---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro"
---

<Layout title="lukas/home">
    <div class="grid-container">
        <div class="item item-1">Hya! I'm Lukas <p>hello</p></div>
        <div class="item item-2">Projects<Link page="/projects"></div>
        <div class="item item-3">Blog</div>
    </div>
</Layout>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 100vh);
        width: 100%;
    }

    .item {
        width: 100%;
        background-color: #8B5FBF;
        border-radius: 20px;
        padding: 15px;
        height: 450px;
    }

    .item-1 {
        place-self: center;
        font-size: 32px;
        font-weight: bold;
    }

    .item-2 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .item-3 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 24px;
    }
</style>