---
import Layout from "../layouts/Layout.astro";


---

<Layout title="lukas/home">
    <div class="test">
        <p>Hya! I’m Lukas</p>
    </div>
</Layout>

<style>
    p {
        margin: 0;
        font-size: 36px;
        font-weight: bold;
    }
</style>