---
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="lukas/home">

	<div class="page">

		<div class="intro">
			<Intro/>
		</div>

		<div class="container">
			<div class="titles">
				<p class="text">Projects</p>
				<a class="link" href="/projects">View all →</a>
			</div>

			<div class="projects">
				<div class="project project-1">test 1</div>
				<div class="project project-2">test 2</div>
			</div>

		</div>

		<div class="container">
			<div class="titles">
				<p class="text">Blog</p>
				<a class="link" href="/blog">View all →</a>
			</div>

			<div class="blog-posts">
				<div class="blog-post">test 1</div>
				<div class="blog-post">test 2</div>
				<div class="blog-post">test 3</div>
			</div>

		</div>

	</div>

</Layout>


<style>
	
	.page {
		display: flex;
		flex-direction: column;
		gap: 50px;
		padding-block: 50px;
	}

	.titles {
		display: flex;
        align-items: center;
        justify-content: space-between;

		margin-bottom: 1ch;
		
	}

	.projects {
		display: flex;
		gap: 16px;
	}

	.project {
		flex: 1;
		background: #452F5E;
		border-radius: 10px;
		min-height: 350px;
		padding: 1ch;

		border: 3px solid #7550A1;
	}

	.text {
		font-size: 20px;
	}

	.link {
		font-size: 16px;
	}

	.blog-posts {
		display: flex;
		flex-direction: column;
		gap: 16px;
		
	}

	.blog-post {
		background: #452F5E;
		border-radius: 10px;
		padding: 1ch;
		border: 3px solid #7550A1;
		min-height: 115px;
	}

    @media (max-width: 500px) {
        .projects {
            flex-direction: column;
        }
    }

</style>

