---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro"
import BlogHome from "../components/BlogHome.astro"
import ProjectsHome from "../components/ProjectsHome.astro";
---

<Layout title="lukas/home">
    <div class="page-grid">
        <div class="card card1 intro-grid">
            <Intro />
        </div>    
        <div class="card projects-grid">
           <ProjectsHome />
        </div>
        <div class="card blog-grid">
            <BlogHome />
        </div>
    </div>
</Layout>

<style>
    .page-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 100vh);
        width: 100%;
    }

    .intro-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "one two"
            "one three";
        gap: 15px;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 43px auto;
        grid-gap: 15px;
    }

    .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 43px auto auto auto;
        gap: 15px;
    }
    
    .card {
        width: 100%;
        background-color: #8B5FBF;
        border-radius: 20px;
        padding: 15px;
        height: 450px;
        place-self: center;
    }

    .card1 {
        padding-left: 0px;
    }

    h1 {
        font-size: 32px;
    }
</style>
