---
import Layout from "../layouts/Layout.astro";
---

<Layout title="lukas/home">
    <div class="grid-container">
        <div class="item item-1">item 1</div>
        <div class="item item-2">Projects</div>
        <div class="item item-3">Blog</div>
    </div>
</Layout>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 100vh);
        width: 100%;
        max-height: 100vh;

    }

    .item {
        width: 100%;
        background-color: #8B5FBF;
        border-radius: 20px;
    }

    .item-1 {
        height: 450px;
        place-self: center;
    }

    .item-2 {
        height: 600px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .item-3 {
        height: 450px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
</style>