---
import Layout from "../layouts/Layout.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
---

<Layout title="lukas/projecs">
	<div class="page-grid">
		<div class="card projects-grid">
			<ProjectsGrid />
		</div>
	</div>
</Layout>

<style>
	.page-grid {
		display: grid;
		place-items: center;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 100vh;
	}

	.projects-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 35px 1fr 1fr;
		grid-gap: 15px;
	}

	.card {
		background-color: #8B5FBF;
		border-radius: 20px;
		padding: 15px;
		height: auto;
		width: 100%;
		align-self: center;
	}

	@media (max-width:700px) {
		.projects-grid {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			
		}
	}

</style>