---

---

<h1>Blog</h1>
<div class="blog"><p>Comming Soon</p><p>Need to work on backend first</p></div>
<div class="blog">Coming Soon</div>
<div class="blog">Coming Soon</div>
<div class="blog">Coming Soon</div>

<style>
    .blog {
        padding: 15px;
        background-color: #7550A1;
        border-radius: 10px;
        text-align: center;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>