---
import Link from "./Link.astro";
---

<div></div>
<h1>Blog</h1>
<div class="see-more"><Link page="/blog"/></div>
<div class="blog">1</div>
<div class="blog">2</div>
<div class="blog">3</div>

<style>
    .see-more {
        text-align: end;
        margin-top: auto;
        margin-bottom: auto;
    }

    .blog {
        padding: 15px;
        background-color: #7550A1;
        grid-column: span 3;
        border-radius: 10px;
    }

    h1{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
</style>