---
import { execSync } from 'node:child_process';
const commitHash = execSync('git rev-parse --short HEAD').toString().trim();
---

<footer>
    <a href={`https://github.com/maker-lukas/lukasreis.com-v2.1/commit/${commitHash}`}>
        <img src="/git-commit.svg" alt="commit" />
        {commitHash}
    </a>
    <p>Made by Lukas with &lt;3</p>
    <a href="https://github.com/maker-lukas">GitHub</a>
</footer>

<style>
    footer {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer a:first-child {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
    }

    footer a:first-child img {
        height: 1em;
        vertical-align: middle;
    }
</style>

