---

---

<footer>
  <strong>
  Made with 🖤 by Lukas using
  <a href="https://astro.build">Astro</a>
  </strong>
  <strong>
    Source at
    <a href="https://github.com/maker-lukas/lukasreis.com">GitHub</a>
  </strong>
</footer>

<style>
  a {
    color: #171717;
  }

  p {
    margin: 0;
  }

  a:link {
    text-decoration: underline;
  }

  a:active,a:hover {
    text-decoration: none;
  }

  footer {
    height: 130px;
    background-color: #ECD444;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #171717;
    border-radius: 20px 20px 0px 0px;
    padding: 15px 0px 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
</style>