---

---

<footer>
  <strong>
  Made with 🖤 by Lukas using
  <a href="https://astro.build">Astro</a>
  </strong>
</footer>

<style>
  a {
    color: #171717;
  }

  footer {
    height: 130px;
    background-color: #ECD444;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #171717;
    border-radius: 20px 20px 0px 0px;
    padding-top: 10px;
  } 
</style>