---

---

<div class="inner inner-1">
    <h1>Hya! I'm Lukas.</h1>
    <p>A 16 year old human</p>
</div>
<div class="inner inner-2">
    <img class="fit-image"
    src="public/images/lukas.jpg"
    alt="picture of lukas"/>
</div>
<div class="inner inner-3">
    Now Playing
</div>


<style>
    .inner {
        background-color: #7550A1;
        border-radius: 10px;
    }

    .inner-1 {
        grid-area: one;
        height: 100%;
        background-color:#8B5FBF;
    }

    .inner-2 {
        grid-area: two;
        height: 285px;
        padding: 15px;
        padding-top: 15px;
    }

    .inner-3 {
        grid-area: three;
        height: 120px;
        padding: 15px;
    }

    .fit-image {
    max-width: 220px;
    width: 100%;
    display: block;
    margin-inline: auto;
    border-radius: 10px;
    }

    p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }
</style>