---


---

<div class="inner inner-1">
    <div class="intro">
        <h1>Hya! I'm Lukas.</h1>
        <p class="age">A 16 year old human</p>
        <p class="about">About:</p>
        <p class="text">A home schooled tech nerd, hardware enthusiast, programming noob.</p>
        
    </div>
    <a class="banner" href="https://hackclub.com/"><img style="width: 170px;" src="https://assets.hackclub.com/flag-orpheus-left.svg" alt="Hack Club"/></a>
</div>
<div class="inner inner-2">
    <img class="image"
    src="../images/lukas.jpg"
    alt="picture of lukas"/>
    <div class="stats">
        <div id="utc-clock">--:--:-- --</div>
        <span>/</span>
        <p>status</p>
    </div>
</div>
<div class="inner inner-3">
    <p>Now Playing</p>
    <p>Still need to setup a backend for this</p>
</div>
<div class="inner inner-4">
    <img class="image-4"
    src="../images/lukas.jpg"
    alt="picture of lukas"/>
    <div class="now-playing">
        <p class="in4">Now Playing</p>
        <p class="in4">Still need to setup a backend for this</p>
    </div>
</div>

<style>
    p {
        margin: 10px 0;
    }

    h1 {
        margin: 10px 0;
    }

    .inner {
        background-color: #7550A1;
        border-radius: 10px;
    }

    .inner-1 {
        grid-area: one;
        height: 100%;
        background-color:#8B5FBF;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner-2 {
        grid-area: two;
        height: 295px;
        padding: 15px 15px 10px 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner-3 {
        grid-area: three;
        height: 110px;
        padding: 15px;

    }

    .inner-4 {
        display: none;
        padding: 15px;
        gap: 15px;
    }

    .image {
    width: 100%;
    display: block;
    margin-inline: auto;
    border-radius: 10px;
    }

    .age {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #171717;
        background-color: #ECD444;
        width: 100%;
        height: 30px;
        border-radius: 15px;

        font-size: 14px;
        font-weight: bold;
        padding-inline: 15px;
    }

    .about {
        font-size: 20px;
        font-weight: bold;
    }

    .text {
        font-size: 20px;
    }



    @media (max-width: 700px) {
        .banner {
            display: none;
        }
        
        .inner-1 {
            text-align: center;
            width: 100%;
        }

        .inner-2,
        .inner-3 {
            display: none;
        }

        h1 {
            font-size: 25px;
        }

        .text {
            font-size: 15px;
        }

        .age {
            font-size: 18px;
        }

        .stats {
            display: none;
        }

        .image {
            width: 100%;
            height: 100%;
            margin-inline:0;
            max-width: 170px;
        }

        .inner-4 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px;
            max-height: 150px;
            height: auto;
            grid-area: four;
        }

        .image-4 {
            width: auto;
            height: 100%;
            border-radius: 10px;
            max-width: 150px;
        }

        .in4 {
            font-size: 14px;
        }


    }

</style>

<script is:inline>
    function updateClock() {
        const now = new Date();
        let hours = now.getUTCHours();
        const minutes = now.getUTCMinutes().toString().padStart(2, "0");
        const seconds = now.getUTCSeconds().toString().padStart(2, "0");

        const ampm = hours >= 12 ? "pm" : "am";
        hours = hours % 12 || 12;

        document.getElementById("utc-clock").textContent =
        `${hours}:${minutes}:${seconds} ${ampm}`;
    }

    updateClock();
    setInterval(updateClock, 1000);
</script>