---
const { page, text = '' } = Astro.props;
---

<a class="link" href={page}>{text}</a>

<style>
    .link {
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
    }
</style>