---
---

<h1>Projects</h1>
<div class="project">1</div>
<div class="project">2</div>
<div class="project">3</div>
<div class="project">4</div>
<div class="project">5</div>
<div class="project">6</div>

<style>
    .project {
        padding: 15px;
        background-color: #7550A1;
        border-radius: 10px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        grid-column: span 3;
    }
</style>