---
import Dial from "../components/projects/Dial.astro";
import Keyboard from "../components/projects/Keyboard.astro";
import Link from "./Link.astro";
import Firefly from "./projects/Firefly.astro";
---

<div></div>
<h1>Projects</h1>
<div class="see-more"><Link page="/projects" text="See More →"/></div>
<div class="project"><Keyboard /></div>
<div class="project"><Dial /></div>
<div class="project"><Firefly /></div>

<style>
    .see-more {
        text-align: end;
        margin-top: auto;
        margin-bottom: auto;
    }

    .project {
        padding: 15px;
        background-color: #7550A1;
        border-radius: 10px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    @media (max-width: 700px) {

        h1 {
            font-size: 25px;
        }

        .project:nth-child(6) {
            display: none;
        }

        .project {
            grid-column: span 3;
        }

    }
</style>