---
---

<div class="inner inner-1">
    <h1>Projects</h1>
</div>
<div class="inner project">1</div>
<div class="inner project">2</div>
<div class="inner project">3</div>
<div class="inner project">4</div>
<div class="inner project">5</div>
<div class="inner project">6</div>

<style>

    .inner {
        border-radius: 10px;
    }
    
    .inner-1 {
        grid-column: span 3;
    }

    .inner-2 {

    }

    .inner-3 {

    }

    .project {
        padding: 15px;
        background-color: #7550A1;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
</style>