---
import type { CollectionEntry } from 'astro:content';

import FormattedDate from '../components/FarmattedDate.astro';

import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate } = Astro.props;
const id = Astro.url.pathname.split('/').pop();


---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>lukas/blog/{id}</title>
</head>
<body>
    <Header />
    <main>
        <div class="page-grid">
            <div class="card">
                <div class="frontmatter">
                    <h1>{title}</h1>
                    <p>{description}</p>
                    <p>
                        <FormattedDate date={pubDate} />
                    </p>
                </div>
                <slot />
            </div>
        </div>
    </main>
    <Footer />
</body>
</html>

<style>
    .frontmatter {
        text-align: center;
        background-color: #7550A1;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
    }

	.page-grid {
		display: grid;
		place-items: center;
		padding-top: 100px;
		padding-bottom: 50px;
		min-height: 100vh;
	}

    .card {
        background-color: #8B5FBF;
        border-radius: 20px;
        padding: 15px;
        height: auto;
        width: 100%;
        max-width: 810px;
    }

    h1 {
        font-size: 32px;
    }
    
    :global(pre) {
        background-color:#171717 !important;
        padding: 15px;
        border-radius: 10px;
        overflow-x: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 100%;
    }

    :global(code) {
        font-size: 14px;
        white-space: pre;
        word-break: normal;
    }

    :global(p) {
    margin-bottom: 15px;
    line-height: 1.6;
}

    :global(ol),
    :global(ul) {
        margin-left: 20px;
        margin-bottom: 15px;
    }

    :global(li) {
        margin-bottom: 8px;
        line-height: 1.6;
    }

    :global(img) {
        max-width: 100%;
        border-radius: 10px;
    }

    :global(a) {
        color: white;
        font-weight: bold;
    }

    :global(.download-link:link) {
        text-decoration: underline;
    }

    :global(.download-link:hover, .download-link:active) {
        text-decoration: none;
    }

    :global(.warning) {
        color: yellow;
    }

    :global(h2) {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }

    :global(hr) {
        border: none;
        border-top: 2px solid #ECD444;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    :global(h3) {
        margin-top: 1.25em;
        margin-bottom: 0.5em;
    }

    :global(.codelet) {
        background-color: #171717;
        border-radius: 5px;
        padding-inline: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>