---

---

<div class="test">
    <div>
        <img
        src="public/images/dial.png"
        alt="40%ish split keyboard"/>
        <h1>Dial</h1>
        <p>A scroll dial</p>
    </div>

    <a href="https://github.com/maker-lukas/Scroll-Dial">GitHub</a>
</div>

<style>
    img {
        width: 100%;
        display: block;
        margin-inline: auto;
        border-radius: 10px;
    }

    h1 {
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }

    .test {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    a {
        color: white;
        font-weight: bold;
    }
</style>